doctype html(lang='en')
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Projects
    // Bootstrap
    link(rel='stylesheet', href='../css/bootstrap.css')
    link(rel='stylesheet', href='../css/navBar.css')
  body
    header
      .peacockLogo
        // Profile logo. Add a img tag in place of <span>.
        a(href='../index.html')
          img.profileLogo(src='../images/peacock.svg', alt='', height='40px')
        |      
        nav
          ol.navBar
            li
              a(href='home.html') Home
            |      &#x9;  
            li.active Projects
            |      &#x9;  
            li
              a(href='resume.html') Resume
    section
      .jumbotron.text-center
        .container
          .row
            .col-xs12
              h1 Project Page
              |           
              p
                | Once I have actually accomplished things, I will post them here. Some of those projects may be hosted on GitHub or something!
              |           
              p
                a.btn.btn-primary.btn-lg(href='#', role='button') Learn more &raquo;
    section
      .container
        .row
          .col-xs-12.text-center
            h1 There will be Multiple Categories
            |         
            p
              | Naturally, as time goes on and I gain more experience with programming, I will have plenty of things to boast about here. Some of these things will be side projects of my own, and others will be related to real paid work!
    section
      .container.well
        .row
          .col-lg-4.col-md-4.col-sm-6
            .media
              .media-left
                a(href='#')
                  img.media-object(src='../html/images/35X35.gif', alt='...')
              |           
              .media-body
                h2.media-heading Category 1
                |             Perhaps something pretty and front-end oriented.
          |       
          .col-lg-4.col-md-4.col-sm-6
            .media
              .media-left
                a(href='#')
                  img.media-object(src='../html/images/35X35.gif', alt='...')
              |           
              .media-body
                h2.media-heading Category 2
                |             This might be a good place to drop something that would be impressive to someone familiar with the technology
          |       
          .col-lg-4.col-md-4.col-sm-6
            .media
              .media-left
                a(href='#')
                  img.media-object(src='../html/images/35X35.gif', alt='...')
              |           
              .media-body
                h2.media-heading Category 3
                |             Personal project, perhaps?
    section
      .container
        .row
          .col-lg-12.text-center
            h2 Latest Work
            |             &#x9;
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, et, placeat !
        |         
        .row
          .col-md-6.text-center
            img(src='../html/images/400x400.gif', alt='')
            |                 
            h3 Lorem ipsum dolor sit amet, consectetur elit
            |                 
            h6 Lorem ipsum dolor sit amet, consectetur elit
          |         &#x9;
          .col-md-6.text-center
            img(src='../html/images/400x400.gif', alt='')
            |                 
            h3 Lorem ipsum dolor sit amet, consectetur elit
            |                 
            h6 Lorem ipsum dolor sit amet, consectetur elit
        |   
        h2 Gallery
        |     
        hr
        |     
        .container
          .row
            .col-lg-4.col-sm-6.col-xs-6
              img(src='../images/300X200.gif', alt='')
              hr.hidden-lg
            |     &#x9;&#x9;
            .col-lg-4.col-sm-6.col-xs-6
              img(src='../images/300X200.gif', alt='')
              hr.hidden-lg
            |     &#x9;&#x9;
            .col-lg-4.col-sm-6.col-xs-6
              img(src='../images/300X200.gif', alt='')
            |     &#x9;&#x9;
            .col-lg-4.col-sm-6.col-xs-6.hidden-lg
              img(src='../images/300X200.gif', alt='')
          |         
          hr
          |         
          .row
            .col-lg-4.col-sm-6.col-xs-6
              img(src='../images/300X200.gif', alt='')
              hr.hidden-lg
            |     &#x9;&#x9;
            .col-lg-4.col-sm-6.col-xs-6
              img(src='../images/300X200.gif', alt='')
              hr.hidden-lg
            |     &#x9;&#x9;
            .col-lg-4.col-sm-6.col-xs-6
              img(src='../images/300X200.gif', alt='')
            |     &#x9;&#x9;
            .col-lg-4.col-sm-6.col-xs-6.hidden-lg
              img(src='../images/300X200.gif', alt='')
    hr
    section
      .container
        .row
          .col-lg-12.text-center
            h1 Lorem ipsum dolor sit amet
            |         
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, magni, doloribus, possimus eum sapiente deleniti doloremque fugit ut expedita molestiae iusto debitis eveniet modi obcaecati ipsam quos quis labore dicta.
            | &#x9;&#x9;
            button.btn.btn-success(type='button') Get in touch
    hr
    .section.well
      .container
        .row
          .col-lg-4.col-md-4
            h3.text-center WHO WE ARE
            |             
            h5
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, ducimus, sit, quibusdam quidem recusandae veniam eos quod error nisi repellat excepturi laboriosam aspernatur suscipit possimus consectetur dolores nihil labore quas eius illo accusamus nulla sed blanditiis porro accusantium. Perspiciatis, perferendis!
          | &#x9;&#x9;
          .col-lg-4.col-md-4
            h3.text-center GET IN TOUCH
            |           
            address.text-center
              strong MyCompany, Inc.
              br
              |   Sunny Autumn Plaza, Grand Coulee,
              br
              |   CA, 91308-4075, US
              br
              |   
              abbr(title='Phone') P:
              |  (123) 456-7890
          | &#x9;&#x9;
          .col-lg-4.col-md-4
            h3.text-center NEWSLETTER
            |           
            form
              .form-group.col-lg-9.col-md-8.col-sm-10.col-xs-10
                input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
              button.btn.btn-default(type='submit')
                | Subscribe
                br
    |     
    footer.text-center
      .container
        .row
          .col-xs-12
            p Copyright &copy; MyCompany. All rights reserved.
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='../html/js/jquery-1.11.3.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='../html/js/bootstrap.js')

