doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Home
    link(rel='stylesheet', href='stylesheets/navBar.css')
    link(rel='stylesheet', href='stylesheets/aboutPageStyle.css')
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    script.
      var __adobewebfontsappname__="dreamweaver"
    script(src='http://use.edgefonts.net/montserrat:n4:default;source-sans-pro:n2:default.js', type='text/javascript')
  body
    header
      .peacockLogo
        a(href='../index.html')
          img.profileLogo(src='images/peacock.svg', alt='', height='40px')
        |      
        nav
          ol.navBar
            // Link to your pages in place of #'s and change menu content here
            // Only this page needs everyone's menus. It can be different in your personal pages.
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Gavin
                b.caret
              |          
              ul.dropdown-menu
                li
                  a(href='gavin/home.html') Home
                |              
                li
                  a(href='#') That
                |              
                li
                  a(href='#') The Other
            |          
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Kyle
                b.caret
              |            
              ul.dropdown-menu
                li
                  a(href='kyle/home.html') Home
                |              
                li
                  a(href='kyle/projects.html') Projects
                |              
                li
                  a(href='kyle/resume.html') Resume
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Andrew
                b.caret
              |          
              ul.dropdown-menu
                li
                  a(href='#') Home
                |              
                li
                  a(href='#') Projects
                |              
                li
                  a(href='#') Resume
            |          
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Will
                b.caret
    #carousel1.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carousel1', data-slide-to='0')
        |     
        li(data-target='#carousel1', data-slide-to='1')
        |     
        li(data-target='#carousel1', data-slide-to='2')
      |   
      .carousel-inner(role='listbox')
        .item.active
          img.center-block(src='images/Carousel_Placeholder.png', alt='First slide image')
          |       
          .carousel-caption
            h3 Welcome to PeacockNet
            |         
            p Learn what the programmers in our family are up to
        |     
        .item
          img.center-block(src='images/Carousel_Placeholder.png', alt='Second slide image')
          |       
          .carousel-caption
            h3 Second slide Heading
            |         
            p Second slide Caption
        |     
        .item
          img.center-block(src='images/Carousel_Placeholder.png', alt='Third slide image')
          |       
          .carousel-caption
            h3 Third slide Heading
            |         
            p Third slide Caption
      |   
      a.left.carousel-control(href='#carousel1', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#carousel1', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next
    script(src='js/jquery-1.11.3.min.js', type='text/javascript')
    script(src='js/bootstrap.js', type='text/javascript')
    span.stretch
    p.spacer
    |   
    hr
    |   
    footer
      p.footerDisclaimer
        | 2016 Copyright - 
        span All Rights Reserved
      |   
      p.footerNote
        | Peacock Family - 
        span Email us

